
body {
    padding: 10px 50px;
}

.formdesign {
    font-size: 20px;

}
.content{
    display:flex;
    justify-content: center;
    margin-top:4rem;
}
.main{
    width:500px;
    border: 2px solid black;
    padding-left:3rem;
}
.heading{
    margin-left:8rem;
}
.formdesign input {
    width:45%;
    padding: 12px 20px;
    border: 1px solid black;
    margin: 14px;
    height:4px;
    border-radius: 4px;
    font-size: 15px;
}

.formerror {
    color: black;
}

.but {
    border-radius: 9px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    margin: 22px 20px;
}
